body {
      margin: 0;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
      background: #F7FAF8;
      color: #1F2933;
}

.layout {
      display: flex;
      min-height: 100vh;
}

.sidebar {
      width: 150px;
      background: rgb(222, 229, 238);
      border-right: 1px solid black;
      padding: 20px 16px;
}

.logo {
      margin: 0 0 20px;
      font-size: 25px;
      color: #2F3E46;
}

.side-nav a {
      display: block;
      padding: 8px 10px;
      margin-bottom: 4px;
      color: #2F3E46;
      text-decoration: none;
      border-radius: 6px;
      font-weight: 500;
}

.side-nav a:hover {
      background: #6e7777b4;
}

.content {
      flex: 1;
      padding: 20px;
      font-size:20px;
}

.content a {
      margin: 2px;
      padding: 2px 10px;
      color: #000000;
      text-decoration: none;
      border-radius: 10px;
      font-weight: 700;
      font-size: 20px;
      line-height: 2;
}

.content a:hover {
  background: #6e7777b4;
}

.nm-page {
  font-size: 50px;
  border-bottom: solid black;
}

.content-info {
  background-color: rgb(222, 229, 238);
}

table {
  padding: 10px;
  border: 1px solid grey;
  border-radius: 5px;
  background-color: rgb(222, 229, 238);
  border-collapse: separate;
  border-spacing: 0 10px; 
}

thead {
  background-color:  rgb(209, 220, 234);
}

th {
  padding: 6px;
  text-align: left;
  font-weight: 600;
  border: 1px solid #000000;
  border-radius: 5px;

}

td {
  padding: 6px;
  border: 1px solid #080809;
  border-radius: 5px;

}

tbody tr:hover {
  background-color: #F9FAFB;
}

