{% extends 'catalog/base.html' %}

{% block content %}

<div class="">
  <h1 class="">Список авторов</h1>

  <form method="get" action="{% url 'authors' %}" class="">
    <div class="">
      <input
        type="text"
        name="q"
        value="{{ request.GET.q }}"
        class=""
        placeholder="Поиск автора">
    </div>
    <div class="">
      <button type="submit" class="">
        Поиск
      </button>
    </div>
  </form>
</div>

{% if author_lst %}
  <div class="">
    <ul class="">
      {% for author in author_lst %}
        <li class="">

          <a href="{{ author.get_absolute_url }}"
             class="">
            {{ author.last_name }} {{ author.first_name }}
          </a>

          {% if user.is_staff %}
            <a href="{% url 'author_delete' author.pk %}"
               class="">
              Удалить
            </a>
          {% endif %}

        </li>
      {% endfor %}
    </ul>
  </div>
{% else %}
  <div class="">
    Данные об авторах отсутствуют
  </div>
{% endif %}

{% endblock %}