{% extends "catalog/base.html" %}
{% block content %}

<div class="">
  <h1 class="">
    {{ author.last_name }} {{ author.first_name }}
  </h1>
  <div class="">
    Автор
  </div>
</div>

<div class="">
  <div class="">
    <div class="">
      <div class="">
        <strong>Дата рождения:</strong>
        {{ author.date_of_birth|default:"—" }}
      </div>
      <div class="">
        <strong>Дата смерти:</strong>
        {{ author.date_of_death|default:"—" }}
      </div>
    </div>
  </div>
</div>

<div class="">
  <div class="">
    <h2 class="">Книги автора</h2>

    {% if author.book_set.all %}
      {% for book in author.book_set.all %}
        <div class="">

          <div class="">
            <a href="{{ book.get_absolute_url }}"
               class="">
              {{ book.title }}
            </a>
          </div>

          <p class="">
            {{ book.summary }}
          </p>

          <div class="">
            <div><strong>Жанр:</strong> {{ book.display_genre }}</div>
            <div><strong>Язык:</strong> {{ book.language }}</div>
          </div>

        </div>
      {% endfor %}
    {% else %}
      <div class="">
        У автора нет книг
      </div>
    {% endif %}

  </div>
</div>

{% endblock %}