{% extends "catalog/base.html" %}

{% block content %}

<div class="">
  <div class="">

    <div class="">
      <div class="">

        <h1 class="">Удаление книги</h1>

        <p class="">
          Вы действительно хотите удалить книгу
          <strong>{{ book.title }}</strong>?
          <br>
          Это действие нельзя отменить.
        </p>

        <form method="post">
          {% csrf_token %}

          <div class="">
            <button type="submit" class="">
              Да, удалить
            </button>

            <a href={"% url 'books' %"}>Отмена</a>
          </div>
        </form>

      </div>
    </div>

  </div>
</div>

{% endblock %}