{% extends 'catalog/base.html' %}
{% load static %}
{% block content %}
<h1 class='nm-page'>Список книг</h1>
    <div class='for-sform'>
    <form method="get">
        <input type="text" name="q"
            value="{{ request.GET.q }}"
            placeholder="Поиск книг">
        <button type="submit">Поиск</button>
    </form>
    </div>
{% if book_lst %}
    <ul>
        {% for book in book_lst %}
            <li>
                <a href='{{ book.get_absolute_url }}'>{{ book.title }} </a>Автор: {{book.author}}
            </li> 
        {% endfor %}
    </ul> 
{% else %}
    <p>Книги отсутствуют</p>
{% endif %}

{% endblock %}