{% extends "catalog/base.html" %}
{% block content %}

<div class="">
  <h1 class="">Возврат книги</h1>
</div>

<div class="">

  <div class="">
    <div class="">
      <div class="">

        <h2 class="">Изменить параметры</h2>

        <form method="post">
          {% csrf_token %}

          {% for field in form %}
            <div class="">
              {{ field.label_tag }}
              {{ field }}
              {% if field.errors %}
                <div class="">
                  {{ field.errors }}
                </div>
              {% endif %}
            </div>
          {% endfor %}

          <button type="submit" class="">
            Отправить
          </button>
        </form>

      </div>
    </div>
  </div>

  <div class="">
    <div class="">
      <div class="">

        <table class="">
          <thead class="">
            <tr>
              <th>Книга</th>
              <th>Заемщик</th>
              <th>Дата возврата</th>
            </tr>
          </thead>

          <tbody>
            <tr class="{% if bookinst.is_overdue %}table-danger{% endif %}">
              <td class="">{{ bookinst.book.title }}</td>
              <td>{{ bookinst.borrower }}</td>
              <td>{{ bookinst.due_back }}</td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>

</div>

{% endblock %}