{% extends 'catalog/base.html' %}
{% block content %}

<div class="mb-4">
  <h1 class="mb-3">Список книг</h1>

  <form method="get" class="row g-1">
    <div class="col-md-6">
      <input
        type="text"
        name="q"
        value="{{ request.GET.q }}"
        class="form-control"
        placeholder="Поиск книг">
    </div>
    <div class="col-md-2">
      <button type="submit" class="btn btn-primary">Поиск</button>
    </div>
  </form>
</div>

{% if book_lst %}
  <div class="card shadow-sm">
    <ul class="list-group">
      {% for book in book_lst %}
        <li class="list-group-item d-flex justify-content-between align-items-center">

          <div>
            <a href="{{ book.get_absolute_url }}" class="text-decoration-none">
              {{ book.title }}
            </a>
            <div class="text-muted small">Автор: {{ book.author }}</div>
          </div>

          {% if user.is_staff %}
            <a href="{% url 'book_delete' book.pk %}" class="btn btn-danger">Удалить</a>
          {% endif %}

        </li>
      {% endfor %}
    </ul>
  </div>
{% else %}
  <div class="alert">
    Книги отсутствуют
  </div>
{% endif %}

{% endblock %}