{% extends "catalog/base.html" %}

{% block content %}

<div class="">
  <h1 class="">Главная</h1>
  <p class="">Добро пожаловать в <strong>Локальную библиотеку</strong>.Проект разработан на <em>Django</em>.
  </p>
</div>

<div class="">
  <div class="">
    <div class="">
      <div class="">
        <div class="">Книги</div>
        <div class="">{{ num_books }}</div>
      </div>
    </div>
  </div>

  <div class="">
    <div class="">
      <div class="">
        <div class="">Экземпляры</div>
        <div class="">{{ num_instance }}</div>
      </div>
    </div>
  </div>

  <div class="">
    <div class="">
      <div class="">
        <div class="">Доступно</div>
        <div class="">{{ num_instance_available }}</div>
      </div>
    </div>
  </div>
</div>

<div class="">
  <div class="">
    <h2 class="">Контент</h2>

    <ul class="">
      <li><strong>Авторы:</strong> {{ num_authors }}</li>
      <li><strong>Жанры:</strong> {{ num_genre }}</li>
      <li><strong>Всего книг:</strong> {{ num_tbooks }}</li>
    </ul>
  </div>
</div>

<div class="">
  Количество посещений: {{ num_visits }}
</div>

{% endblock %}