{% extends "catalog/base.html" %}

{% block content %}

<div class="mb-1">
  <h1 class="mb-1">Главная</h1>
  <p class="text-muted">Добро пожаловать в <strong>Локальную библиотеку</strong>.Проект разработан на <em>Django</em>.
  </p>
</div>

<div class="g-1 mb-2 row">
  <div class="col-sm-6 col-lg-4">
    <div class="card shadow-sm">
      <div class="card-body">
        <div class="fw-bold">Книги</div>
        <div class="fs-1">{{ num_books }}</div>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-lg-4">
    <div class="card shadow-sm">
      <div class="card-body">
        <div class="fw-bold">Экземпляры</div>
        <div class="fs-1">{{ num_instance }}</div>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-lg-4">
    <div class="card shadow-sm">
      <div class="card-body">
        <div class="fw-bold">Доступно</div>
        <div class="fs-1 text-success">{{ num_instance_available }}</div>
      </div>
    </div>
  </div>
</div>

<div class="card shadow-sm mb-3">
  <div class="card-body">
    <h2 class="h5 mb-3">Контент</h2>

    <ul class="list-unstyled mb-0">
      <li><strong>Авторы:</strong> {{ num_authors }}</li>
      <li><strong>Жанры:</strong> {{ num_genre }}</li>
      <li><strong>Всего книг:</strong> {{ num_tbooks }}</li>
    </ul>
  </div>
</div>

<div class="text-muted small">
  Количество посещений: {{ num_visits }}
</div>

{% endblock %}