{% extends "catalog/base.html" %}

{% block content %}

<div class="">
  <h1>Мои книги</h1>
</div>

{% if borrower_lst %}
  <div class="">
    <ul class="">
      {% for bookinst in borrower_lst %}
        <li class="">
          <div>
            <a href="{% url 'book_detail' bookinst.book.pk %}"
               class="">{{ bookinst.book.title }}
            </a>

            <div class="">
              Срок возврата: {{ bookinst.due_back }}
            </div>
              <form method="POST" action="{% url 'return_book' bookinst.pk %}">
              {% csrf_token %}
              <button class="">Вернуть книгу</button>
          </div>

          {% if bookinst.is_overdue %}
            <span class="">Просрочено</span>
          {% endif %}

        </li>
      {% endfor %}
    </ul>
  </div>
{% else %}
  <div class="">
    У вас отсутствуют арендованные книги.
  </div>
{% endif %}

{% endblock %}