{% extends 'catalog/base.html' %}
{% block content %}

<div class="">
  <h1>Настройки</h1>
  <p class="">Управление арендованными книгами</p>
</div>

<div class="">
  <div class="">

    <table class="">
      <caption class="">
        Список арендованных книг
      </caption>

      <thead class="">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Книга</th>
          <th scope="col">Владелец</th>
          <th scope="col">Дата возврата</th>
          <th scope="col" class="">Действия</th>
        </tr>
      </thead>

      <tbody>
        {% for ins in instances %}
          <tr>
            <td>{{ ins.book.pk }}</td>
            <td class="fw-semibold">{{ ins.book.title }}</td>
            <td>{{ ins.borrower }}</td>
            <td>{{ ins.due_back }}</td>
            <td class="">
              <a href="{% url 'book_renew' ins.pk %}"
                 class="">
                Редактировать
              </a>
              <a href="{% url 'return_book' ins.pk %}"
                 class="">
                Возвратить
              </a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

  </div>
</div>

<div class="">
  <div class="">
    <h2 class="">Добавление объектов</h2>

    <div class="">
      <a class="" href="{% url 'book_create' %}">
        Добавить книгу
      </a>
      <a class="" href="{% url 'author_create' %}">
        Добавить автора
      </a>
    </div>
  </div>
</div>

{% endblock %}