{% extends 'catalog/base.html' %}
{% block content %}
  <h1 class='nm-page'>Настройки</h1>

  <b>Панель возврата книг</b>
  <table class='for_table'>
    <thead class='for_thead'>
      <tr>
        <th>ID</th>
        <th>Книга</th>
        <th>Владелец</th>
        <th>Дата возврата</th>
        <th>Панель</th>
      </tr>
    </thead>
    <tbody>
      {% for ins in instances %}
        <tr>
            <td>{{ins.book.pk}}</td>
            <td>{{ins.book.title}}</td>
            <td>{{ins.borrower}}</td>
            <td>{{ins.due_back}}</td>
            <td><a href="{% url 'book_renew' ins.pk %}">Редактировать</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>


  <b>Панель добавления</b>
  <div class='vert-forms'>
    <ul>
      <li><a href='{% url "book_create" %}'>Добавить книгу</a></li>
      <li><a href='{% url "author_create" %}'>Добавить автора</a></li>
    </ul>
  </div>

  <b>Панель удаления</b>
  <div>
    

  </div>

{% endblock %}